        * {
            box-sizing: border-box;
        }
        /* Fonts */
        
        @font-face {
            font-family: MyriadPro-Regular;
            src: url(/fonts/myriad/Myriad\ Pro\ Regular.ttf);
        }
        
        @font-face {
            font-family: brands;
            src: url(/fonts/brands/fa-brands-400.ttf);
        }
        /* Layout */
        
        .main-layout {
            max-width: 1260px;
            margin: 0 auto;
        }
        /* Helpers */
        /* flex helpers */
        
        .flex {
            display: flex;
        }
        
        .flex.space-between {
            justify-content: space-between;
        }
        
        .flex.align-center {
            align-items: center;
        }
        /* List Helpers */
        
        .clean-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        /* BASE */
        
        html {
            font-size: 1rem;
            font-family: MyriadPro-Regular, sans-serif
            /* line-height: 1.5; */
        }
        
        body {
            margin: 0;
            background-color: #22252C;
            overflow: hidden;
        }
        
        header {
            /* position: fixed; */
            width: 100vw;
        }
        
        main {
            background-color: #383B42;
        }
        
        img {
            width: 100%;
        }
        
        button {
            cursor: pointer;
        }
        /* Components */
        /* main-header  */
        
        .main-header {
            /* height: 74px; */
            /* background-image: linear-gradient(to right, #0F9BB2, #2CB77B);
            background-color: #5970C1;
            border-radius: 4rem; */
            padding-bottom: 50px;
        }
        
        .header-container {
            height: 74px;
            background-image: linear-gradient(to right, #0F9BB2, #2CB77B);
            background-color: #5970C1;
            border-radius: 4rem;
        }
        
        .main-header .logo {
            text-transform: uppercase;
            color: white;
            font-family: MyriadPro-Regular;
            font-size: 1.0625rem;
            padding-left: 5.125rem;
        }
        
        .nav-ber {
            padding-right: 250px;
        }
        
        .btn-gallery {
            background-color: #FEFEFE;
            border: unset;
            color: #21AC91;
            border-radius: 3rem;
        }
        
        .btn-about {
            background-color: unset;
            border: unset;
            color: #FEFEFE;
            padding-left: 2.625rem;
        }
        
        .search {
            background-color: #22252C;
            border-radius: 10px;
            margin-left: 2rem;
        }
        
        .search input {
            background-color: unset;
            border: unset
        }
        
        .search img {
            background-color: unset;
            border: unset;
            cursor: pointer;
            font-family: brands;
            color: aqua;
            /* color: linear-gradient(to right, #0F9BB2, #2CB77B); */
        }
        
        .category {
            background-color: #87898D;
            border-radius: 3rem;
            color: #FEFEFE;
            font-family: MyriadPro-Regular;
        }
        
        .category p {
            margin: 0 2rem;
            line-height: 1.5;
        }
        
        .more {
            border-radius: 2rem;
            border: unset;
            color: #FEFEFE;
            background-image: linear-gradient(to right, #0F9BB2, #2CB77B);
        }
        /* images-container */
        
        .images-container {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: 250px;
            /* background-color: #383B42; */
        }
        
        .images-container img {
            /* display: flex; */
            justify-content: center;
            border-radius: 1em;
        }
        /* editor-container */
        
        .hidden {
            display: none;
        }
        
        canvas {
            background-color: antiquewhite;
            border-radius: 2em;
            border: rgba(81, 78, 72, 0.075) 4px solid;
        }
        
        .control-boxes {
            background-color: #383B42;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 4rem;
        }
        
        .add-text {
            border-radius: 3em;
        }
        
        .arrow-btn {
            background-color: #4CB7D3;
            border-radius: 1rem;
            width: 3.5rem;
        }
        
        .delete-btn {
            background-color: red;
            border-radius: 1rem;
            width: 3.5rem;
            display: flex;
            justify-content: center;
        }
        
        .delete-btn img {
            height: 3.;
            width: 3.5rem;
        }
        
        .plus-btn {
            background-color: greenyellow;
            font-size: 3.625rem;
            color: #EBEEF3;
            border-radius: 1rem;
            width: 3.5rem;
        }
        
        .buttons-font {
            background-color: #19A59F;
            border-radius: 1rem;
            flex-wrap: wrap;
        }
        
        .btn-share {
            background-color: #1E7CD3;
            border-radius: 3rem;
        }
        
        .btn-download {
            background-color: #8F44BB;
        }
        
        footer {
            background-color: #FEFEFE;
            text-align: center;
        }